{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">

<h1>Update Record</h1>
<br/>

<form method="POST">
    {% csrf_token %}

    <input type="text" name="first_name" value="{{ current_record.first_name }}" class="form-control">
    <br/>

    <input type="text" name="last_name" value="{{ current_record.last_name }}" class="form-control">
    <br/>

    <input type="email" name="email" value="{{ current_record.email }}" class="form-control">
    <br/>

    <input type="text" name="phone_number" value="{{ current_record.phone_number }}" class="form-control">
    <br/>

    <input type="text" name="address" value="{{ current_record.address }}" class="form-control">
    <br/>

    <input type="text" name="city" value="{{ current_record.city }}" class="form-control">
    <br/>

    <input type="text" name="state" value="{{ current_record.state }}" class="form-control">
    <br/>

    <input type="text" name="zip_code" value="{{ current_record.zip_code }}" class="form-control">
    <br/>

    <button type="submit" class="btn btn-secondary">
        Update Record
    </button>

</form>

</div>

{% endblock %}